@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700);
* {
}



.tablink{
    margin-top:20px;
    margin-bottom:20px;
    background-color:#083358;
    padding:10px;
    border-radius:3px;
    margin-left:10px;
    color:white;
    text-decoration:none;
    box-shadow: 5px 10px 8px #e8e8e8;
    margin-left:20px;

}

.tablink:hover{
    margin-top:20px;
    margin-bottom:20px;
    background-color:gray;
    padding:10px;
    border-radius:3px;
    margin-left:10px;
    color:white;
    text-decoration:none;
    box-shadow: 5px 10px 8px #e8e8e8;
    margin-left:20px;

}

.tablink:active{
    margin-top:20px;
    margin-bottom:20px;
    background-color:red;
    padding:10px;
    border-radius:3px;
    margin-left:10px;
    color:white;
    text-decoration:none;
    box-shadow: 5px 10px 8px #e8e8e8;
    margin-left:20px;

}

.tablink:focus{
    margin-top:20px;
    margin-bottom:20px;
    background-color:red;
    padding:10px;
    border-radius:3px;
    margin-left:10px;
    color:white;
    text-decoration:none;
    box-shadow: 5px 10px 8px #e8e8e8;
    margin-left:20px;

}
.tablink:hover:not(.active) {
  background-color: #555;
  color: white;
}

.tabcontent{
    margin-bottom:30px;
}
.background{
    background-color:white;
}
.background-color-1{
    background-color:gray;
}





/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  width: 100%;
  text-decoration: none;
}

.song-show {
  display: block;
  line-height: 0;
  margin-bottom: 50px;
}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  text-decoration:none;
  padding-left:10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.navcenter{
  margin-left:80px;
}