@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700);
* {
  box-sizing: border-box;
}

/* Set height of body and the document to 100% */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Montserrat;
  font-style: normal;

}

/* Style tab links */
.tablink {
  background-color: white;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: auto;
  margin-left:10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: -2px 3px 3px rgba(88, 89, 69, 0.2);
}

.tablink {
  background-color: #083358;
  color: #FFFFFF;
}

.tablink:hover {
  background-color: #f2f2f0 ;
  color: #000000;
}

a {
  text-decoration: none;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 20px;
  width: 100%;
  text-decoration: none;
}

#Home {
  background-color: white;
}
#News {
  background-color: white;
}
.song-show {
  display: block;
  line-height: 0;
  margin-bottom: 50px;
}

.hello {
  display: flex;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.navcenter{
  margin-left:80px;
}

